hw1/data/*
hw1/processed/*
.Rproj.user
hw1/trouble*
hw1/matrixeqtl/*
hw1/data/*
hw3/data/*
!hw3/data/transqtl.matched.txt
!hw3/data/transqtl.height.txt
!hw3/data/matrixqtl.matched.rds
!hw3/data/matrixqtl.height.rds
